
.DS_Store
.gitattributes
/modules/__pycache__/
__pycache__/
/venv/

/utils/config.py
/modules/custom_modules
/ytdlp_down/
/json/

unknown_errors.txt
*.cache
*.session
*.db
*.sqlite3
*.sqlite
*-journal
*.idea
*.json
*.mp3
*.mp4
*.m4a
*.webp
*.jpg
*.png
*.zip
